# Server
PORT=3000

# Database (Prisma)
DATABASE_URL="postgresql://authdb_user:dev_password@localhost:5432/authdb_dev"

# JWT
JWT_SECRET="change-me-to-a-long-random-string-at-least-32-chars"

# Email (SMTP)
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="noreply@example.com"
